<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBFH8xbB91p_lY3I7FDtVuTH5PbEBuQg7A</string>
	<key>GCM_SENDER_ID</key>
	<string>119569910286</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ios.color.sync.app</string>
	<key>PROJECT_ID</key>
	<string>color-scyn-app</string>
	<key>STORAGE_BUCKET</key>
	<string>color-scyn-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:119569910286:ios:60efa3f52aa342b89f8a5f</string>
</dict>
</plist>